In [ ]:
import pandas 
import matplotlib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
train= pandas.read_csv("/content/gdrive/MyDrive/train.csv")
test=  pandas.read_csv("/content/gdrive/MyDrive/test.csv")

In [ ]:
test.head()

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning..."
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...

In [ ]:
train.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [ ]:
#Null values check karre hai
print(train.isnull().sum() , '\n'*2 ,test.isnull().sum())

id           0
title      558
author    1957
text        39
label        0
dtype: int64

 id          0
title     122
author    503
text        7
dtype: int64

In [ ]:
#dropping null values
test=test.fillna('')
train = train.fillna('')
#checking if null values has been dropped
print(train.isnull().sum() , '\n'*2 ,test.isnull().sum())
print("NO NULL VALUES FOUND")

id        0
title     0
author    0
text      0
label     0
dtype: int64

 id        0
title     0
author    0
text      0
dtype: int64
NO NULL VALUES FOUND

In [ ]:
train['content'] = train['author']+' '+train['title'] + train['text']
print(train['content'])

0        Darrell Lucus House Dem Aide: We Didn’t Even S...
1        Daniel J. Flynn FLYNN: Hillary Clinton, Big Wo...
2        Consortiumnews.com Why the Truth Might Get You...
3        Jessica Purkiss 15 Civilians Killed In Single ...
4        Howard Portnoy Iranian woman jailed for fictio...
                               ...
20795    Jerome Hudson Rapper T.I.: Trump a ’Poster Chi...
20796    Benjamin Hoffman N.F.L. Playoffs: Schedule, Ma...
20797    Michael J. de la Merced and Rachel Abrams Macy...
20798    Alex Ansary NATO, Russia To Hold Parallel Exer...
20799    David Swanson What Keeps the F-35 Alive  David...
Name: content, Length: 20800, dtype: object

In [ ]:
X = train.drop(columns='label', axis=1)
Y = train['label']

In [ ]:
print("Shape of X : " , X.shape , "    |     ","Shape of Y : " , Y.shape)

Shape of X :  (20800, 5)     |      Shape of Y :  (20800,)

In [ ]:
X = train['content'].values
Y = train['label'].values

In [ ]:
print("Shape of X : " , X.shape , "    |     ","Shape of Y : " , Y.shape)

Shape of X :  (20800,)     |      Shape of Y :  (20800,)

In [ ]:
vectorizer = TfidfVectorizer()
vectorizer.fit(X)
X = vectorizer.transform(X)

In [ ]:
print(X)

  (0, 164474)	0.008423810376529658
  (0, 164106)	0.042871673895745754
  (0, 164029)	0.009920274880567044
  (0, 164007)	0.010379907712815285
  (0, 162890)	0.0385251225467803
  (0, 162884)	0.08267513473944813
  (0, 162785)	0.03284044738516755
  (0, 162715)	0.012124764674001556
  (0, 162184)	0.02456710447647045
  (0, 161974)	0.022539703211464077
  (0, 161691)	0.00797768730984404
  (0, 161305)	0.03610766504991217
  (0, 161086)	0.007857354959444835
  (0, 161052)	0.024685632193479513
  (0, 160984)	0.024186839171842736
  (0, 160710)	0.014918334307952138
  (0, 160595)	0.011056351360873353
  (0, 160473)	0.025453653648043494
  (0, 160354)	0.012535576040065952
  (0, 160165)	0.06203675063433327
  (0, 160081)	0.010779714999084198
  (0, 159837)	0.05345096511277939
  (0, 158867)	0.024884479738164433
  (0, 158836)	0.018778736213765104
  (0, 158780)	0.01537210639155031
  :	:
  (20799, 7262)	0.014403503347896612
  (20799, 7175)	0.035590798437983864
  (20799, 6754)	0.011337378793411094
  (20799, 5867)	0.01689992693087523
  (20799, 5664)	0.03674401227373525
  (20799, 5622)	0.01769091579746439
  (20799, 5506)	0.03453029775092476
  (20799, 5067)	0.021406741720798303
  (20799, 4689)	0.012616735534739404
  (20799, 4670)	0.015886508813574073
  (20799, 4085)	0.026870482063691258
  (20799, 3978)	0.01841261690294523
  (20799, 3901)	0.027046607044457983
  (20799, 2834)	0.0282733382120585
  (20799, 2520)	0.0187968213414954
  (20799, 2468)	0.04160517153237605
  (20799, 2307)	0.24963132627621926
  (20799, 2183)	0.017387547014710625
  (20799, 2131)	0.013098843822383556
  (20799, 1509)	0.018117648118365706
  (20799, 1502)	0.02526904927357961
  (20799, 1458)	0.019833513360736292
  (20799, 700)	0.03201683481329992
  (20799, 400)	0.012913930131170318
  (20799, 1)	0.032180480690311576

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify=Y, random_state=2)

In [ ]:
model = LogisticRegression()
model.fit(X_train, Y_train)

LogisticRegression()

In [ ]:
# training
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print( training_data_accuracy)

0.9753605769230769

In [ ]:
# Testing
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print(test_data_accuracy)

0.9466346153846154

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
model=DecisionTreeClassifier(random_state=0).fit(X_train,Y_train)

In [ ]:
# training
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print( training_data_accuracy)

1.0

In [ ]:
# Testing
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print(test_data_accuracy)

0.9444711538461539